                <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                    <!-- Sidebar - Brand -->
                    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                        <div class="sidebar-brand-icon">
                            <i class="fa-solid fa-graduation-cap"></i>
                            <!--<img class="img-fluid p-3" src="/public/img/logo.png" alt="<%= site.name %> Logo">-->
                        </div>
                        <div class="sidebar-brand-text mx-3"><%= site.name %></div>
                    </a>

                    <!-- Divider -->
                    <hr class="sidebar-divider my-0">

                    <!-- Nav Item - Dashboard -->
                    <li class="nav-item loc1">
                        <a class="nav-link" href="/">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>Dashboard</span></a>
                    </li>

                    <!-- Divider -->
                    <hr class="sidebar-divider">

                    <!-- Heading -->
                    <div class="sidebar-heading">
                        Grades
                    </div>

                    <!-- Nav Item - Grades Overview -->
                    <li class="nav-item">
                        <a class="nav-link" href="/grades/overview">
                            <i class="fas fa-fw fa-rectangle-list"></i>
                            <span>Grades Overview</span></a>
                    </li>

                    <!-- Nav Item - Class Grade Sheets -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGradesSheet" aria-expanded="true" aria-controls="collapseGradesSheet">
                            <i class="fas fa-fw fa-sheet-plastic"></i>
                            <span>Class Grade Sheets</span>
                        </a>
                        <div id="collapseGradesSheet" class="collapse" aria-labelledby="collapseGradesSheet" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <h6 class="collapse-header">Classes:</h6>
                                <a class="collapse-item" href="/grades/class/24055">J-BOARDGAMES - AM</a>
                                <a class="collapse-item" href="/grades/class/24057">J-MOVIE - PM</a>
                            </div>
                        </div>
                    </li>

                    <!-- Divider -->
                    <hr class="sidebar-divider">

                    <!-- Heading -->
                    <div class="sidebar-heading">
                        Homework
                    </div>

                    <!-- Nav Item - Charts -->
                    <li class="nav-item">
                        <a class="nav-link" href="/homework">
                            <i class="fas fa-fw fa-laptop-file"></i>
                            <span>Homework Grid</span></a>
                    </li>

                    <!-- Divider -->
                    <hr class="sidebar-divider d-none d-md-block">

                    <!-- Sidebar Toggler (Sidebar) -->
                    <div class="text-center d-none d-md-inline">
                        <button class="rounded-circle border-0" id="sidebarToggle"></button>
                    </div>

                    <!-- Sidebar Message 
                    <div class="sidebar-card d-none d-lg-flex">
                        <img class="sidebar-card-illustration mb-2" src="/public/img/undraw_rocket.svg" alt="...">
                        <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
                        <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
                    </div> -->

                </ul>